@{
  ViewBag.Title = "Avatarizer";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/user.css")" />
}

<div class="subtext">
  <div>This is an example to see how Avatarizer generates user avatars based on their initials.</div>
  <div>You can see that same initials always get same avatar color.</div>
</div>

<img src="@Url.Action("Avatar", "Users", new { id = 42, width = 320, height = 320 })" />